@import "../../styling/base";

$layout-prefix-cls: "c-layout";

$menu-prefix-cls: "#{$ant-prefix}-menu";

$layout-footer-height: $layout-header-height;

@mixin menu-variant() {
    &.#{$menu-prefix-cls} {
        @content
    }
}

@mixin menu-font-size(
    $font-size:$font-size-base,
    $icon-font-size:$font-size,
    $line-height:$line-height-base
) {
    @include menu-variant {
        font-size: $font-size;
        line-height: $line-height;
    }
    @include menu-variant {
        &-item-group-title {
            font-size: $font-size;
            line-height: $line-height;
        }

        &-item,
        &-submenu-title {
            .#{$iconfont-css-prefix} {
                font-size: $icon-font-size;
            }
        }

        &-vertical,
        &-vertical-left,
        &-vertical-right,
        &-inline {
            .#{$menu-prefix-cls}-item,
            .#{$menu-prefix-cls}-submenu-title {
                font-size: $font-size;
                //line-height: @menu-item-height;
                //height: @menu-item-height;
            }
        }
    }
}

:root {
    --layout-header-height: #{$layout-header-height};
    --layout-footer-height: #{$layout-header-height};
}

.#{$layout-prefix-cls} {

    &-header {
        display: flex;
        justify-content: space-around;

        &-logo {
            height: 32px;
            background: rgba(255, 255, 255, .2);
            margin: 16px;
            display: inline-block;
            float: left;
            font-size: 25px;
            line-height: 1rem;
            padding: 8px;
        }

        &-toggle {
            @include fa-icon;
            font-size: 30px;
            color: white;
            padding: 17px;
            height: 100%;

            &:hover {
                cursor: pointer;
            }
        }

        &-title {
            font-size: 25px;
            line-height: 1rem;
            padding: 8px;
            height: 32px;
            margin: 16px 25px 16px 0;
            float: left;
            display: inline-block;
            color: #ff5722;
        }

        &-menu {
            line-height: var(--layout-header-height);

            &-overflowed-title {
                font-size: 30px;
                margin: 18px auto 0;

                > .fa {
                    font-size: 30px;
                }
            }

            &-item {
                height: var(--layout-header-height) !important;
                line-height: 50px;

                &:hover {
                    background-color: cadetblue;
                }

                .icon-col {
                    width: 50px
                }

                .icon {
                    font-size: 30px;
                    margin: 18px auto 0
                }

                .label-col {
                    white-space: normal;
                    width: calc(100% - 50px)
                }

                .label {
                    font-weight: bold;
                    padding: 0;
                    height: 50%
                }

                .sublabel {
                    font-size: 10px;
                    height: 15px;
                    line-height: 15px;
                }
            }
        }
    }

    &-footer {
        padding: 0;
        color:$text-color-secondary-dark;

        &-col {
            &:last-child {
                text-align: right;
            }
        }


        &-copyright {
            line-height: var(--layout-footer-height);
            padding: 0 20px;
        }

        &-menu {
            line-height: var(--layout-footer-height);

            &-item {
                height: var(--layout-footer-height) !important;
                line-height: 50px;

            }
        }
    }

    &-side {
        min-height: 100%;
        background: $layout-sider-background-light;

        &-toggle {
            width: 100%;
            text-align: center;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.1);

            cursor: pointer;
        }

        &-menu {
            height: 100%;
            border-right: none;
            background: $layout-sider-background-light;

            @include menu-font-size(12px, 16px);
            @include menu-variant {
                .#{$menu-prefix-cls}-sub.#{$menu-prefix-cls}-inline {
                    padding: 0 0 0 12px;
                }
            }
        }

        &-menu-left {

        }

        &-menu-right {

        }
    }

    &-breadcrumb {
        @include Monospace();
    }

    &-content {
        display: flex;

        > div {
            &:first-child {
                display: flex;
                flex-direction: column;
                flex: auto
            }
        }
    }
}
