@import "../../styling/base";

$layout-prefix-cls: "c-layout";

:root {
    --layout-header-height: #{$layout-header-height};
}

.#{$layout-prefix-cls} {

    &-header {
        line-height: var(--layout-header-height);
        display: flex;
        justify-content: space-around;
    }

    &-header-logo {
        height: 32px;
        background: rgba(255, 255, 255, .2);
        margin: 16px;
        display: inline-block;
        float: left;
        font-size: 25px;
        line-height: 1rem;
        padding: 8px;
    }

    &-header-toggle {
        @include fa-icon;
        font-size: 30px;
        color: white;
        padding: 17px;
        height: 100%;

        &:hover {
            cursor: pointer;
        }
    }

    &-header-title {
        font-size: 25px;
        line-height: 1rem;
        padding: 8px;
        height: 32px;
        margin: 16px 25px 16px 0;
        float: left;
        display: inline-block;
        color: #ff5722;
    }

    &-header-menu {
        line-height: var(--layout-header-height);

        &-overflowed-title {
            font-size: 30px;
            margin: 18px auto 0;

            > .fa {
                font-size: 30px;
            }
        }
    }

    &-header-menu-item {
        height: var(--layout-header-height) !important;
        line-height: 50px;

        &:hover {
            background-color: cadetblue;
        }

        .icon-col {
            width: 50px
        }

        .icon {
            font-size: 30px;
            margin: 18px auto 0
        }

        .label-col {
            white-space: normal;
            width: calc(100% - 50px)
        }

        .label {
            font-weight: bold;
            padding: 0;
            height: 50%
        }

        .sublabel {
            font-size: 10px;
            height: 15px;
            line-height: 15px;
        }
    }

    &-side {
        min-height: 100%;
    }

    &-side-menu {
        border-right: none;

        > .ant-menu-submenu .ant-menu-item {
            padding-left: 60px !important;

            > .ant-menu-submenu .ant-menu-item {
                padding-left: 120px !important;

                > .ant-menu-submenu .ant-menu-item {
                    padding-left: 180px !important;

                    > .ant-menu-submenu .ant-menu-item {
                        padding-left: 240px !important;
                    }
                }
            }
        }
    }


    &-footer {

    }
}
