@import "../../styling/base";


header + .c-toc-list,
header + .c-toc {
    padding-top: 0 ;
}

.c-toc {
    > .c-toc-list {
        margin: 0;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    &-list {
        padding-left: 20px;
        list-style: none;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.5;
        padding-top: 2px;
        padding-bottom: 1px;
        -webkit-font-smoothing: antialiased;
    }

    ul {
        list-style: none;
    }

    &-list-item {
        &:before {
            content: "# ";
            margin-right: .25em;
            opacity: .3;
        }

        a {
            text-decoration: none;
        }
    }

    &-header {
        color: inherit;
        margin-bottom: 15px;
        padding-left: 0;
    }

    &-header-link {
        color: rgba($link-color, 0.5);
        float: left;
        margin-right: 4px;
        position: absolute;
        left: -20px;

        &:hover {
            color: $link-hover-color;
        }
    }
}

.c-toc > .c-toc-list > .c-toc-list-item {
    .c-toc-list-item {
        font-size: 0.8rem
    }

    .c-toc-list-item .c-toc-list-item {
        font-weight: normal;
        font-size: 0.8rem;
    }
}

h1.c-toc-header {
    //margin-top: -2px;
    //margin-left: -25px;
}

h2.c-toc-header {
    //margin-top: -2px;
    //margin-left: -25px;
}

h3.c-toc-header {
    //font-size: 26px;
    a {opacity:0 }
    //margin-top: -2px;
    //margin-left: -25px;
}

h4.c-toc-header {
    //font-size: 21px;
    a {opacity:0 }
    //margin-top: -1px;
    //margin-left: -25px;
}

h5.c-toc-header {
    //font-size: 16px;
    a {opacity:0 }
    //margin-top: -1px;
    //margin-left: -25px;
}

