/*
 * Copyright (c) 2018. Codex Project
 *
 * The license can be found in the package and online at https://codex-project.mit-license.org.
 *
 * @copyright 2018 Codex Project
 * @author Robin Radic
 * @license https://codex-project.mit-license.org MIT License
 */

$section-variant-dark-bg = $blue-grey-8;
$section-variant-dark-fg = $blue-grey-2;
$section-variant-light-bg = #ffffff;
$section-variant-light-fg = $blue-grey-7;

$toolbar-min-height = 52px
