
// color palettes
$blue-1: #FFF;
$blue-2: #FFF;
$blue-3: #FFF;
$blue-4: #FFF;
$blue-5: #FFF;
$blue-6: #FFF;
$blue-7: #FFF;
$blue-8: #FFF;
$blue-9: #FFF;
$blue-10: #FFF;

$purple-1: #FFF;
$purple-2: #FFF;
$purple-3: #FFF;
$purple-4: #FFF;
$purple-5: #FFF;
$purple-6: #FFF;
$purple-7: #FFF;
$purple-8: #FFF;
$purple-9: #FFF;
$purple-10: #FFF;

$cyan-1: #FFF;
$cyan-2: #FFF;
$cyan-3: #FFF;
$cyan-4: #FFF;
$cyan-5: #FFF;
$cyan-6: #FFF;
$cyan-7: #FFF;
$cyan-8: #FFF;
$cyan-9: #FFF;
$cyan-10: #FFF;

$green-1: #FFF;
$green-2: #FFF;
$green-3: #FFF;
$green-4: #FFF;
$green-5: #FFF;
$green-6: #FFF;
$green-7: #FFF;
$green-8: #FFF;
$green-9: #FFF;
$green-10: #FFF;

$magenta-1: #FFF;
$magenta-2: #FFF;
$magenta-3: #FFF;
$magenta-4: #FFF;
$magenta-5: #FFF;
$magenta-6: #FFF;
$magenta-7: #FFF;
$magenta-8: #FFF;
$magenta-9: #FFF;
$magenta-10: #FFF;

// alias of magenta
$pink-1: #FFF;
$pink-2: #FFF;
$pink-3: #FFF;
$pink-4: #FFF;
$pink-5: #FFF;
$pink-6: #FFF;
$pink-7: #FFF;
$pink-8: #FFF;
$pink-9: #FFF;
$pink-10: #FFF;

$red-1: #FFF;
$red-2: #FFF;
$red-3: #FFF;
$red-4: #FFF;
$red-5: #FFF;
$red-6: #FFF;
$red-7: #FFF;
$red-8: #FFF;
$red-9: #FFF;
$red-10: #FFF;

$orange-1: #FFF;
$orange-2: #FFF;
$orange-3: #FFF;
$orange-4: #FFF;
$orange-5: #FFF;
$orange-6: #FFF;
$orange-7: #FFF;
$orange-8: #FFF;
$orange-9: #FFF;
$orange-10: #FFF;

$yellow-1: #FFF;
$yellow-2: #FFF;
$yellow-3: #FFF;
$yellow-4: #FFF;
$yellow-5: #FFF;
$yellow-6: #FFF;
$yellow-7: #FFF;
$yellow-8: #FFF;
$yellow-9: #FFF;
$yellow-10: #FFF;

$volcano-1: #FFF;
$volcano-2: #FFF;
$volcano-3: #FFF;
$volcano-4: #FFF;
$volcano-5: #FFF;
$volcano-6: #FFF;
$volcano-7: #FFF;
$volcano-8: #FFF;
$volcano-9: #FFF;
$volcano-10: #FFF;

$geekblue-1: #FFF;
$geekblue-2: #FFF;
$geekblue-3: #FFF;
$geekblue-4: #FFF;
$geekblue-5: #FFF;
$geekblue-6: #FFF;
$geekblue-7: #FFF;
$geekblue-8: #FFF;
$geekblue-9: #FFF;
$geekblue-10: #FFF;

$lime-1: #FFF;
$lime-2: #FFF;
$lime-3: #FFF;
$lime-4: #FFF;
$lime-5: #FFF;
$lime-6: #FFF;
$lime-7: #FFF;
$lime-8: #FFF;
$lime-9: #FFF;
$lime-10: #FFF;

$gold-1: #FFF;
$gold-2: #FFF;
$gold-3: #FFF;
$gold-4: #FFF;
$gold-5: #FFF;
$gold-6: #FFF;
$gold-7: #FFF;
$gold-8: #FFF;
$gold-9: #FFF;
$gold-10: #FFF;
