@mixin size($width, $height) {
    width  : $width;
    height : $height;
}

@mixin square($size) {
    @include size($size, $size);
}

@mixin reset-component() {
    font-family: $font-family;
    font-size: $font-size-base;
    font-variant: tabular-nums;
    line-height: $line-height-base;
    color: $text-color;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}



@mixin Monospace($important:true) {
    @if($important) {
        font-family: $font-family-monospace !important;
        text-rendering: optimizeLegibility !important;;
    } @else {
        font-family: $font-family-monospace;
        text-rendering: optimizeLegibility;
    }
    @content
}
