//@formatter:off
$font-family-no-number       : "Open Sans", Arial, sans-serif;
$font-family                 : $font-family-no-number;
$code-family                 : "Hasklig", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;



$layout-header-padding       : 0;
$menu-collapsed-width        : 50px;
$border-radius-base          : 0px;
$border-radius-sm            : 0px;


$menu-inline-toplevel-item-height: 30px;
$menu-item-height: 30px;

$layout-header-background       : #4D5C69;
$layout-footer-background       : $layout-header-background;
//$primary-color               : #FF5722;
//$layout-header-background    : #4d5c69;
//$layout-footer-background    : #4d5c69;
//$layout-sider-background     : #f8f2f2;
//$menu-bg                     : #fefefe;
