@import "../../styling/base";

$prefix: phpdoc-member-list;

.#{$prefix} {
    @extend %phpdoc-component;
    background: $phpdoc-method-list-item-background;

    .token {
        background: none !important;
        padding: 0;
    }

    &.boxed {
        box-sizing: content-box;

        li {
            border-left: none;
            border-right: none;
        }
    }

    &-search {
        width: 38px;
        transition: width 200ms linear;

        &:hover, &:focus, &.focus {
            width: 150px
        }
    }

    .ant-tabs .ant-tabs-extra-content {
        padding-right: 10px;
        line-height: 35px;
    }

    &-inner {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        background: $phpdoc-method-list-item-background;

        &:focus {
            outline: none;
        }
    }

    .c-scrollbar &-inner {
        padding-right: 6px;
    }

    &-inner .phpdoc-method {
        border-top: $phpdoc-boxed-border;
        border-bottom: $phpdoc-boxed-border;
        margin: 0;
        background: #fafafa;
    }

    &-item {
        color: $phpdoc-method-list-item-font-color;
        background: $phpdoc-method-list-item-background;
        border: $phpdoc-method-list-item-border;
        padding-right: 8px;
        // list-row
        display: flex;
        flex-wrap: wrap;

        &:last-child {
            border-bottom: none;
        }

        &:not(:first-child) {
            border-top: none;
        }

        &:hover {
            color: $phpdoc-method-list-item-font-color-hover;
            background: $phpdoc-method-list-item-background-hover;
            cursor: pointer;
        }

        &.active {
            color: $phpdoc-method-list-item-font-color-active;
            background: $phpdoc-method-list-item-background-active;

            > .list-item-link:not(.modifier) {
                color: $phpdoc-method-list-item-font-color-active;
                //background : $phpdoc-method-list-item-background-active;
            }
        }

        &.seperator {
            > span {
                display: block;
                font-weight: bold;
                padding: 4px 10px;
                text-decoration: none;
                border: 1px solid #c5d0dc;
                margin: 0 -1px 0 0;
                color: darkgray;
                text-align: center;
            }
        }

        > .list-item-link:not(.modifier) {
            @include Monospace();
            padding: 4px 10px; // for .phpdoc-method-signature
            font-size: 12px;
            text-decoration: none;
            display: block;
            color: $phpdoc-method-list-item-font-color;
            //background      : $phpdoc-method-list-item-background;
            border-left: none;

            // prevents breaking the text that puts it in 2 lines when the width is not enough
            white-space: nowrap;
            overflow: hidden;

            // list-col
            flex-basis: 0;
            flex-grow: 1;
            min-height: 1px;
            max-width: 100%;
            width: 100%;

            > i,
            > span > i {
                width: 20px;
                text-align: center;
            }

            &:hover:not(.no-hover) {
                color: $phpdoc-method-list-item-font-color-hover;
                //background : $phpdoc-method-list-item-background-hover;
            }

            &.no-click {
                cursor: default;

                &:hover {
                    color: $phpdoc-method-list-item-font-color;
                    background-color: transparent;
                }
            }

            > span.description {
                font-size: 10px;

                p {
                    margin-bottom: 0
                }
            }
        }

        > a.modifier {
            //background-color : $phpdoc-method-list-item-background;
            //width            : 20px;
            text-align: center;
            padding: 3px 10px;

            // list-col-auto
            flex: 0 0 auto;
            width: auto;

            &.no-click {
                cursor: default;
            }

            &:hover:not(.no-click, .no-hover) {
                background: $phpdoc-method-list-item-modifier-background-hover;
            }
        }

    }

    &-item-property {}
    &-item-property-type {
        margin-left: 10px;
        font-size: 0.8em;
    }
    &-item-method {}

    .hover-filters {
        text-align: right;
        padding: 2px;
        //position: absolute;
        position: relative;
        float: right;
        right: 0;
        opacity: 0.5;
        z-index: 5;
        margin-right: 10px;

        &:hover, &:focus, &:active {
            opacity: 1;
        }
    }

    &-tooltip {
        font-size: 12px;

        .ant-tooltip-inner,
        .ant-popover-inner-content {
            color: white;
        }

        .ant-popover-arrow,
        .ant-tooltip-inner,
        .ant-popover-inner {
            background-color: rgba(black, 0.7);
        }
    }

    &.compact {
        li {
            background-color: transparent;
            border: none;
        }

        a {
            padding: 1px 10px;

            &:hover {
                background-color: transparent;
                color: $phpdoc-method-list-item-font-color;
            }
        }

        a.modifier {
            background-color: transparent;
            float: left;
            top: 0;
        }
    }

}
