@import "../../styling/base";

$prefix-cls: "phpdoc-method";

.#{$prefix-cls} {
    .token {
        background: none !important;
    }

    @extend %phpdoc-component;

    .#{$prefix-cls}-signature {
        display: flex;
        justify-content: space-between;
    }

    &.boxed .#{$prefix-cls}-signature {
        border-bottom: $phpdoc-boxed-border;
        border-bottom-width: 3px; //solid #e2e2e2
    }

    &.boxed.closed .#{$prefix-cls}-signature {
        border-bottom: none;
    }

    .method {
        &-collapse {
            @include fa-icon;
            font-size: 15px;
            transform: rotate(0deg);
            transition: transform 150ms ease;

            &:hover, &:focus, &:active {
                text-decoration: none;
            }

            &:before {
                content: $fa-var-chevron-up;
            }

            @at-root  .closed#{&} {
                transform: rotate(-180deg);
            }
        }

        &-details {
            padding: 0 0 10px 20px;
        }

        &-block {
            padding-left: 5px;
            padding-right: 20px;
        }

        &-block-title {
            font-size: 0.7rem;
            border-bottom: 1px solid #e2e2e2;
            padding: 5px 12px;
            margin: 10px -20px 10px 0px !important;
            text-transform: uppercase;
            color: rgba(black, 0.5);
            position: relative;
            left: -20px;

            &:first-child {
                margin-top: 0;
            }
        }

        &-arguments {
            list-style-type: none;
            margin-left: 0;
            font-family: $phpdoc-method-arguments-font-family;

            &:first-child {
                counter-reset: customlistcounter;
            }

            > li {
                counter-increment: customlistcounter;
                border-top: 1px dashed #f1f1f1;
                border-bottom: 1px dashed #f1f1f1;
                border-left: 2px solid #e6e4e4;
                padding: 3px 0 3px 10px;
            }

            > li:before {
                content: counter(customlistcounter) " ";
                position: relative;
                left: -15px;
                font-size: 0.7rem;
                float: left;
                color: #b7b3b3;
                top: 3px;
                margin-left: -12px;
            }
        }

        &-argument {
            color: $phpdoc-method-argument-color
        }

        &-argument-default {
            color: $phpdoc-method-argument-default-color
        }

        &-argument-description {
            color: $phpdoc-method-argument-description-color;
            //p { display : inline;}
        }

        &-argument + .method-block {
            border-left: 2px solid #e6e4e4;
            //padding-left: 10px;
            //padding-bottom: 10px;
            margin-bottom: 10px;

            p {
                margin: 0;
                font-size: 0.9rem;
                padding-top: 2px;
            }
        }

    }
}
