@import "../../styling/base";

$menu-prefix: c-menu;
$ant-menu-prefix: "#{$ant-prefix}-menu";

.#{$menu-prefix} {
    height: 100%;

    &-border-left,
    &-border-right {
        border: 0 solid #e8e8e8;
    }

    &-border-left {
        border-left-width: 1px
    }

    &-border-right {
        border-right-width: 1px
    }

    .item {
        &-divider {

        }

        &-header {
            font-weight: bold;
            color: rgba(0, 0, 0, 0.65) !important;
            background-color: transparent !important;
            cursor: default
        }
    }
}


.#{$ant-menu-prefix} {
    &.ant-menu-horizontal > .ant-menu-item-divider {
        width: 1px;
        height: unset;
        line-height: unset;
        top: 1px;
        bottom: 1px;
        float: left;
        padding: 0;
        position: relative;
        display: block;
        margin: 0;
        opacity: 0.3;
    }

    &-submenu {
        &-vertical,
        &-vertical-left,
        &-vertical-right {
            > .#{$menu-prefix}-submenu-title {
                padding-right: 40px !important;
            }
        }
    }
}
