@import "../../styling/base";



//@formatter:off
$project-color                  : $teal-6;
$project-icon                   : $fa-var-book;
$project-bg-color               : rgba($project-color, 0.25);
$project-color-on-hover         : darken($project-color, 10);
$project-bg-color-on-hover      : rgba($project-color, 0.35);
$project-border-bottom-color    : rgba($project-color, 0.35);

$revision-color                  : $blue-8;
$revision-icon                   : $fa-var-code-fork;

$document-color                  : $brown-5;
$document-icon                   : $fa-var-file-text;
//@formatter:on

@include documentation-type(project, $project-color, $project-icon) {
    &-icon {
        margin-right : 5px;
        vertical-align: -0.035em;
    }
}

@include documentation-type(revision, $revision-color, $revision-icon) {
    &-icon {
        margin-right: 7px;
        margin-left: 2px;
    }
}

@include documentation-type(document, $document-color, $document-icon) {
    &-icon {
        margin-right : 7px;
        vertical-align: 0.01em;
        font-size: 0.9rem;
    }
}
